@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('assets/images/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    padding: 0;
}

